@{
    ViewData["Title"] = "Information";
}

<div class="text-center">
    <h1 class="display-4">Information</h1>
    <p class="lead">@ViewBag.Message</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-success">Go to Login</a>
</div>